@font-face {
    font-family: 'Inter';
    src: url("../../assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

.header {
    position: fixed;
    padding: 0 5rem;
    width: 100%;
    height: 6rem;
    display: flex;
    gap: 9rem;
    align-items: center;
    background-color: #F8F8F8;
    z-index: 1;
}

.navigation {
    position: fixed;
    width: calc(256/16*1rem);
    height: 100%;
    background-color: #FF6767;
}

.cont {
    width: 25rem;
    gap: 4rem;
    margin-left: auto;
}

.innerCont {
    align-items: center;
}

.pageContainer {
    height: 100%;
    background: rgba(245, 248, 255, 1);
    font-family: 'Inter';
}

.mainWrapper {
    height: 100%;
    margin-top: 6rem;
    margin-left: 16rem;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;

}

.todosContainer {
    padding: 1.5rem;
    border: 1px solid rgba(161, 163, 171, 0.63);
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04),
        0px 19px 19px 0px rgba(0, 0, 0, 0.03),
        0px 44px 26px 0px rgba(0, 0, 0, 0.02),
        0px 77px 31px 0px rgba(0, 0, 0, 0.01),
        0px 121px 34px 0px rgba(0, 0, 0, 0);

    display: grid;
    grid-template-areas:
        "active stats"
        "active completed"
        "active completed";

    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background: #F5F8FF;
}

.activeHeader {
    width: 26rem;
}

.active {
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0.875rem;
    width: 29rem;
    grid-area: active;
    background: rgba(245, 248, 255, 1);
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04),

        0px 19px 19px 0px rgba(0, 0, 0, 0.03),

        0px 44px 26px 0px rgba(0, 0, 0, 0.02),

        0px 77px 31px 0px rgba(0, 0, 0, 0.01),

        0px 121px 34px 0px rgba(0, 0, 0, 0);

}

.activeTitle {
    color: rgba(255, 103, 103, 1);
}

.activeList {
    margin-top: 2rem;
    padding-left: 0.5rem;
    list-style: none;
}

.activeItemDesc {
    position: relative;
    padding: 0.75rem;
    border: 1px solid rgba(161, 163, 171, 1);
    border-radius: 0.875rem;
    background: rgba(245, 248, 255, 1);

    &:first-child {
        margin-bottom: 0.5rem;
    }

    &:last-child {
        margin-top: 3.5rem;
    }
}

.notStartedIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    stroke: #F21E1E;
}

.startedIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    stroke: #0225FF;
}


.activeMenu {
    position: absolute;
    padding: 0;
    top: 0.75rem;
    right: 0.75rem;
    border: none;
    background-color: transparent;

    &>* {
        display: block;
    }
}

.itemTitle {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 2rem;
}

.itemDesc {
    font-family: 'Inter';
    font-size: 0.875rem;
    color: rgba(116, 116, 116, 1);
}

.activeDescCont {
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.activeTextCont {
    margin-top: 0.875rem;
    padding-left: 2rem;
    font-size: 0.75rem;
}

.stats {
    border: 1px solid rgba(161, 163, 171, 1);
    border-radius: 1rem;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.04),

        0px 13px 13px 0px rgba(0, 0, 0, 0.03),

        0px 30px 18px 0px rgba(0, 0, 0, 0.02),

        0px 53px 21px 0px rgba(0, 0, 0, 0.01),

        0px 83px 23px 0px rgba(0, 0, 0, 0);
    grid-area: stats;


}

.completed {
    border: 1px solid rgba(161, 163, 171, 1);
    border-radius: 1rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04),

        0px 11px 11px 0px rgba(0, 0, 0, 0.03),

        0px 26px 15px 0px rgba(0, 0, 0, 0.02),

        0px 45px 18px 0px rgba(0, 0, 0, 0.01),

        0px 71px 20px 0px rgba(0, 0, 0, 0);

    grid-area: completed;
}

.addButton {
    border: none;
    background: transparent;
}

.addText {
    margin-left: 0.4rem;
    color: rgba(161, 163, 171, 1);

}

h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

.line {
    width: 29rem;
    top: 41rem;
    left: 21.6rem;
    border-bottom: 1px solid #A1A3AB69;
    position: absolute;
}

a {
    text-decoration: none;
}

.status {
    margin-left: 1rem;
}