@font-face {
    font-family: 'Inter';
    src: url("../../assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

.header {
    position: fixed;
    padding: 0 5rem;
    width: 100%;
    height: 6rem;
    display: flex;
    gap: 9rem;
    align-items: center;
    background-color: #F8F8F8;
    z-index: 1;
}

.navigation {
    position: fixed;
    width: calc(256/16*1rem);
    height: 100%;
    background-color: #FF6767;
}

.cont {
    width: 25rem;
    gap: 4rem;
    margin-left: auto;
}

.innerCont {
    align-items: center;
}

.pageContainer {
    padding-top: 6rem;
    height: auto;
    background: rgba(245, 248, 255, 1);
    font-family: 'Inter';
}


.pageTitle {
    margin: 0;
    margin-right: 0.875rem;
}

.imageContainer {
    margin-left: 12rem;
}


.mainWrapper {
    height: auto;
    margin-left: 16rem;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;
}

.todosContainer {
    margin-top: 2rem;
    padding: 1.5rem;
    border: 1px solid rgba(161, 163, 171, 0.63);
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04),
        0px 19px 19px 0px rgba(0, 0, 0, 0.03),
        0px 44px 26px 0px rgba(0, 0, 0, 0.02),
        0px 77px 31px 0px rgba(0, 0, 0, 0.01),
        0px 121px 34px 0px rgba(0, 0, 0, 0);

    gap: 1rem;
    background: #F5F8FF;
}

.activeHeader {
    width: 32rem
}

.active {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    border-radius: 0.875rem;
    width: 32rem;
    background: rgba(245, 248, 255, 1);
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.04),

        0px 19px 19px 0px rgba(0, 0, 0, 0.03),

        0px 44px 26px 0px rgba(0, 0, 0, 0.02),

        0px 77px 31px 0px rgba(0, 0, 0, 0.01),

        0px 121px 34px 0px rgba(0, 0, 0, 0);

}

.dateContainer {
    margin-top: 0.75rem;
}

.todayDate {
    font-size: 0.875rem;
}

.todayText {
    font-size: 0.875rem;
    color: #A1A3AB
}

.sectionHeader {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1rem;
    color: rgba(255, 103, 103, 1);
}

.activeList {
    margin-top: 1rem;
    padding-left: 0.5rem;
    list-style: none;
}

.activeItemCont {
    position: relative;
    padding: 0.75rem;
    border: 1px solid rgba(161, 163, 171, 1);
    border-radius: 0.875rem;
    background: rgba(245, 248, 255, 1);

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.completedItemCont {
    position: relative;
    padding: 0.75rem;
    border: 1px solid rgba(161, 163, 171, 1);
    border-radius: 0.875rem;
    background: rgba(245, 248, 255, 1);

    &:first-child {
        margin-top: 1.5rem;
    }

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.notStartedIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    stroke: #F21E1E;
}

.startedIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    stroke: #0225FF;
}

.completedIcon {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    stroke: #05A301;
}


.activeMenu {
    position: absolute;
    padding: 0;
    top: 0.75rem;
    right: 0.75rem;
    border: none;
    background-color: transparent;

    &>* {
        display: block;
    }
}

.itemTitle {
    padding-left: 2rem;
    display: block;
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1rem;
}

.itemDesc {
    font-family: 'Inter';
    font-size: 0.875rem;
    color: rgba(116, 116, 116, 1);
}

.activeDescCont {
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.activeTextCont {
    margin-top: 0.875rem;
    padding-left: 2rem;
    font-size: 0.75rem;
}

.stats {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    border-radius: 0.875rem;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.04),

        0px 13px 13px 0px rgba(0, 0, 0, 0.03),

        0px 30px 18px 0px rgba(0, 0, 0, 0.02),

        0px 53px 21px 0px rgba(0, 0, 0, 0.01),

        0px 83px 23px 0px rgba(0, 0, 0, 0);
}

.chartsContainer {
    margin-top: 2rem;
}

.completed {
    padding: 1rem 1.5rem 2.5rem 1.5rem;
    border-radius: 0.875rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.04),

        0px 11px 11px 0px rgba(0, 0, 0, 0.03),

        0px 26px 15px 0px rgba(0, 0, 0, 0.02),

        0px 45px 18px 0px rgba(0, 0, 0, 0.01),

        0px 71px 20px 0px rgba(0, 0, 0, 0);
}

.completedTime {
    margin-top: 0.5rem;
    display: inline-block;
    color: #747474;
}

.addButton {
    border: none;
    background: transparent;
}

.addText {
    margin-left: 0.4rem;
    color: rgba(161, 163, 171, 1);

}

.moderatePrior {
    color: #42ADE2;
    margin-right: 0.75rem;
}

.extremePrior {
    color: #F21E1E;
    margin-right: 0.75rem;
}

.notStarted {
    color: #F21E1E;
}

.inProgress {
    color: #0225FF;
}

.completedColor {
    color: #05A301;
}

h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
}

.status {
    margin-left: 1rem;
}

.createdDateText {
    margin-left: 1.5rem;
    color: #A1A3AB;
}

.line {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    width: 100%;
    border-bottom: 1px solid #A1A3AB69;
}